/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 20px;
  background-color: #fff;
  width: 842px;
  margin-left: 0px;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100% / 4);
  height: 30px;
  border-bottom: 3px solid #5ab4bd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #d9d9d9;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:active {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 0px;
  clear: both;
  overflow: hidden;
  border: solid;
  height: 400px;
}

/*選択されているタブのコンテンツのみを表示*/
#instrument:checked ~ #instrument_content,
#spectrum:checked ~ #spectrum_content,
#envelope:checked ~ #envelope_content,
#wave:checked ~ #wave_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

.instrument {
  width: 8em;
}
.inline {
  display: inline-block;
}
.keybord {
  display: block;
  width: 842px;
  height: 200px;
}
.key {
  position: relative;
  width: 60px;
  height: 250px;
  float: left;
}

/*BEGIN brack_key*/
.brack_key {
  display: block;
  position: absolute;
  top: 0px;
  left: 35px;
  border-radius: 0 0 10px 10px;
  background-color: #000000;
  width: 50px;
  height: 85px;
  z-index: 100;
}
.brack_key:after {
  content: "";
  position: absolute;
  left: 9px;
  top: 0px;
  background: rgb(255, 255, 25);
  border-radius: 0 0 12px 12px;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(30, 30, 30));
  background-image: -ms-linear-gradient(rgb(0, 0, 0), rgb(30, 30, 30));
  background-image: -webkit-linear-gradient(rgb(0, 0, 0), rgb(30, 30, 30));
  background-image: -moz-linear-gradient(rgb(0, 0, 0), rgb(30, 30, 30));
  background-image: -o-linear-gradient(rgb(0, 0, 0), rgb(30, 30, 30));
  box-shadow: 0px -1px 2px 0px rgb(50, 50, 50) inset;
  width: 32px;
  height: 68px;
}
.brack_key:hover:after {
  height: 72px;
}
/*END brack_key*/

/*BEGIN white_key*/
.white_key {
  display: block;
  position: absolute;
  top: 0px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 3px 0px rgb(211, 211, 211);
  border: 2px solid #b3b3b3;
  border-top: none;
  width: 58px;
  height: 150px;
}
.white_key:hover {
  top: 0px;
  background-color: #e6e6e6;
  box-shadow: none;
  height: 150px;
}
/*END white_key*/

.vert {
    -webkit-appearance: slider-vertical;
    width: 30px;
}

.invisible {
    display: none;
}